@import url('https://fonts.googleapis.com/css?family=Russo+One');

body * {
    font-family: 'Russo One', sans-serif;
}

.widget-wrapper {
    max-width: 360px;
    margin: auto;
    position: relative;
}

.widget-header {
    position: relative;
    top: 50px;
    left: 0;
    right: 0;
    margin-top: -40px;
}

.widget-header .game-logo {
    max-width: 40px;
}

.hexagon-row {
    display: flex;
    justify-content: space-between;
}

.hexagon-wrapper {
    text-align: center;
    margin: 1px;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.hexagon-inner {
    position: absolute;
    z-index: 99;
    width: 125%;
    height: 100%;
    left: -12.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.2rem;
    text-shadow: 1px 3px 1px gray;
}

.hexagon {
    height: 100%;
    width: calc(100% * 0.57735);
    background: darkgrey;
    display: inline-block;
}
  
.hexagon:before {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg);
}

.hexagon:after {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(-60deg);
}

.hexagon .team-image {
    max-width: 80px;
    display: inline-block;
    margin: auto;
}

.vs {
    font-size: 6.4rem;
    letter-spacing: 0.5rem;
    position: relative;
    top: -70px;
    text-shadow: 0px 3px 1px rgba(128, 128, 128, 0.65);
}


#trapezoid {
    border-bottom: 50px solid #a9a9a9;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    height: 0;
    width: 138px;
    margin: auto;
    position: absolute;
    bottom: 23px;
    left: 0;
    right: 0;
    font-size: 18px;
    line-height: 50px;
}

#trapezoid h4 {
    margin: 0;
}